{% extends 'layout.njk' %}

{% block content %}
<script id="table-new-template" type="text/html">
	<ul class="collection with-header">
		<li class="collection-header"><h4>First Names</h4></li>
		<li class="collection-item">:issue:</li>
	</ul>
</script>

{% endblock %}