{% extends 'layout.njk' %}

{% block content %}

	<section class="col m9 right">
		<div class="main">
			<p class="flow-text">Top</p>
			<ul class="collection">
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content ">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
			</ul>
			<p class="flow-text">Top</p>
			<ul class="collection">
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
			</ul>
			<p class="flow-text">Top</p>
			<ul class="collection">
				<li class="collection-item avatar">
					<i class="material-icons circle">folder</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle green">insert_chart</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
				<li class="collection-item avatar">
					<i class="material-icons circle red">play_arrow</i>
					<span class="title">Title</span>
					<p>First Line <br>
					</p>
					<a href="" class="secondary-content">
						<i class="material-icons">grade</i>&nbsp;&nbsp;&nbsp;
						<i class="material-icons">forum</i>
					</a>
				</li>
			</ul>
		</div>
	</section>
{% endblock %}